* {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  /* padding: 60px; */
  background-color: black;
}

.bodyColorFondoDark{
    background-color: black;
}

.bodyColorFondoWhite{
    background-color: white;
}

.sizeDiv {
  height: 100vh;
  width: 100vw;
}

.fff {
  height: 310px;
}

img {
  border-radius: 6px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding: 0px;
}

.circle1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  bottom: 34px;
  right: 25px;
  z-index: 99999999;
  background: black;

  
}

.circle2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  bottom: 34px;
  right: 25px;
  z-index: 99999999;
  background: white;
 
  
}
.bgc-dark {
  background-color: black;
  border: transparent 1px solid;
  
}
.bordere-dark {
  border: black solid 1px;
}
.bordere-white {
  border: #fff solid 1px;
}

i {
  font-size: 2rem;
}

.my-element {
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }

/* .card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.card{
  
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
 
}
.card p{
  padding: 5px;
  text-align: center;
 
}
.card img {
  max-height: 170px;
  border-radius: 6px;
  
} */

.bordere {
  border: solid red 1px;
}
